@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --full-slider-bar: hsl(174, 77%, 80%);
  --slider-bg: hsl(174, 86%, 45%);
  --slider-bg-active: hsl(174, 86%, 35%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --cta-text: hsl(226, 100%, 87%);
  --pricing-com-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 100%, 99%);
  --empty-slider-bg: hsl(224, 65%, 95%);
  --toggle-bg: hsl(225, 20%, 60%);
  --text-cta-bg: hsl(227, 35%, 25%);
}

@mixin for_desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 15px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  background-color: var(--main-bg);
  color: var(--text-cta-bg);
  width: 100vw;
  height: 100vh;
}

p,
span {
  color: var(--toggle-bg);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-image: url(../images/bg-pattern.svg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 4rem;
  .heading-container {
    background-image: url(../images/pattern-circles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    flex-direction: column;

    height: 20vh;

    h2 {
      margin-bottom: 10px;
    }

    p {
      width: 200px;
      text-align: center;
      line-height: 1.8;
    }
  }
  .card-container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 4rem;
    @include for_desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: 100%;
      background-color: var(--pricing-com-bg);
      padding-top: 20px;
      border-radius: 20px;
      flex-direction: column;
      @include for_desktop {
        max-width: 40%;
      }
      .top {
        padding: 14px;
        width: 100%;
        @include for_desktop {
          padding-left: 40px;
          padding-right: 40px;
        }
        .top-inner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding-left: 40px;
          padding-right: 40px;
          @include for_desktop {
            flex-direction: row;
            h1 {
              font-size: 3.4rem;
            }
          }
        }
      }

      p {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8rem;
        text-align: center;
      }
      input[type="range"] {
        appearance: none;
        margin-top: 30px;
        margin-bottom: 28px;
        width: 100%;
        height: 8px;
        border-radius: 50px;
        background: var(--empty-slider-bg);
        outline: none;
        transition: 0.3s;
        &::-webkit-slider-thumb {
          appearance: none;
          background-color: var(--slider-bg);
          background-image: url(../images/icon-slider.svg);
          background-position: center;
          background-repeat: no-repeat;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
          height: 42px;
          width: 42px;
          box-shadow: 0 10px 2rem var(--slider-bg) !important;
          &:active {
            background-color: var(--slider-bg-active);
            transform: scale(0.92);
          }
        }
      }
      h1 {
        font-size: 2.25rem;
        margin-top: 10px;
        span {
          font-size: 1rem;
          letter-spacing: 1px;
          font-weight: 600;
          margin-left: 6px;
        }
      }

      .switch-container {
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          text-transform: capitalize;
          font-size: 0.9rem;
        }
        .discount {
          font-size: 0.66rem;
          background-color: var(--discount-bg);
          color: var(--discount-text);
          margin-left: 4px;
          border-radius: 20px;
          padding-left: 8px;
          padding-right: 8px;
          height: 18px;
          .discount-txt {
            // opacity: 0;
            visibility: hidden;
            @include for_desktop {
              opacity: 1;
              color: var(--discount-text);
              margin-left: 2px;
            }
          }
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 38px;
          height: 21px;
          margin-left: 10px;
          margin-right: 10px;
          input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked {
              + {
                .slider {
                  background-color: var(--slider-bg);
                  &::before {
                    transform: translateX(17px);
                  }
                }
              }
            }
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--empty-slider-bg);
            transition: 0.4s;
            &.round {
              border-radius: 34px;
            }
            &::before {
              position: absolute;
              content: "";
              width: 14px;
              height: 14px;
              border-radius: 50%;
              left: 3px;
              bottom: 3.8px;
              background-color: var(--main-bg);
              transition: 0.4s;
            }
          }
        }
      }

      .seperator {
        width: 100%;
        height: 1px;
        background-color: var(--empty-slider-bg);
      }

      .content-container {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        @include for_desktop {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 40px;
          padding-right: 40px;
        }
        p {
          text-transform: capitalize;
          line-height: 2.4;
          letter-spacing: normal;
          @include for_desktop {
            text-align: left;
          }
        }
        button {
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: var(--text-cta-bg);
          color: var(--main-bg);
          border: 0;
          border-radius: 20px;
          padding: 12px 20px;
          @include for_desktop {
            padding: 12px 60px;
          }
        }
      }
    }
  }
}
